@page
@model BookModel
@{
    ViewData["Title"] = "Bookings";
}
<h2><strong>Bookings</strong></h2>
<form id="bookingForm" method="post">
    <div id="Hotels" class="tabcontent">
        <h3>&nbsp;</h3>
        <h3>Search Hotels</h3>
        <hr />
        <div class="form-group">
            <label for="hotels">Hotels:&nbsp;&nbsp;</label>
            <select asp-for="Input.HotelID" id="hotels">
                <option value="0">--- Select an option ----</option>
                @foreach (var hotel in Model.Hotels)
                {
                    <option value="@hotel.HotelID">@hotel.HotelName</option>
                }
            </select>
        </div>
        <div class="form-group"><label for="check-in-date">Select Check-in Date:&nbsp;&nbsp;</label> <input asp-for="Input.CheckIn" id="check-in-date" type="date" /></div>
        <div class="form-group"><label for="check-out-date">Select Check-out Date:&nbsp;&nbsp;</label> <input asp-for="Input.CheckOut" id="check-out-date" type="date" /></div>
        <div class="form-group">
            <label for="room-type">Select Room Type:&nbsp;&nbsp;</label><select asp-for="Input.RoomType" id="room-type" onselect="">

                <option value="single">Single</option>
                <option value="double">Double</option>
                <option value="family">Family Suite</option>
            </select>
        </div>
        <div class="form-group">&nbsp;</div> 
    </div>
    <div id="Tours" class="tabcontent">
        <h3>&nbsp;</h3>
        <h3>Search Tours</h3>
        <hr />
        <div class="form-group">
            <label for="tour">Selet Tour:&nbsp;&nbsp;</label>
            <select asp-for="Input.TourId" id="tour">
                <option value="0">--- Select an option ----</option>
                @foreach (var tour in Model.Tours)
                {
                    <option value="@tour.TourID">@tour.TourName</option>
                }
            </select>
        </div>
        <div class="form-group"><label for="tour-start-date">Select Tour Start Date:&nbsp;&nbsp;</label> <input asp-for="Input.CheckIn" id="tour-start-date" type="date" /></div>
        <div class="form-group"><label for="tour-end-date">Select Tour End Date:&nbsp;&nbsp;</label> <input asp-for="Input.CheckIn" id="tour-end-date" type="date" /></div>
        <div class="form-group">&nbsp;</div>
        <div class="form-group"><button class="btn btn-primary" type="submit">Proceed</button></div>
</form>
</div>
<div id="Packages" class="tabcontent">
    <h3>&nbsp;</h3>
    <h3>Packages</h3>
    <p>A tour package is the selection of a Holiday tour package and a hotel. Discount rates are:</p>
    <ul style="list-style-type: circle;">
        <li>Single Bed: 10% Discount</li>
        <li>Double Bed: 20% Discount</li>
        <li>Family Suite: 40% Discount</li>
    </ul>
</div>
<script>
        function errorDate() {
        var checkinDate = new Date(document.getElementById("check-in-date").value);
        var checkoutDate = new Date(document.getElementById("check-out-date").value);
        var currentDate = new Date();
        if (checkinDate < currentDate) {
            alert("Invalid Date");
            return;
        }
        if (checkinDate >= checkoutDate) {
            alert("Invalid Date");
            return
    }
    }
</script>